In [6]:
import pandas as pd
df = pd.read_csv("csv_file.csv")
df.groupby('Department')['Salary'].mean()

Department
Engineering    81666.666667
HR             58750.000000
Marketing      83000.000000
Sales          67800.000000
Name: Salary, dtype: float64

The department with the highest average salary is marketing.

In [7]:
df.groupby('Department')['Salary'].count()

Department
Engineering    6
HR             4
Marketing      5
Sales          5
Name: Salary, dtype: int64

Engineeering department has the highest number of employees.

In [9]:
df.groupby('Department')['Salary'].agg(['min','max'])

               min    max
Department
Engineering  75000  90000
HR           55000  62000
Marketing    79000  88000
Sales        63000  72000

Salary variation is highest in Engineering department.

YES THE MANAGEMENT WANTS THE SALARY COSTS DUE TO THE MAINTAIN THE EXPENCE AND THE INCOME GAINED

REFLECTION YES GROUPING MAKES DATA MORE MEANINGFULL BEACUSE  IT HELP AS TO REDUSE THE TIME OF ANALYSIS AND MAKE MAKE OUR JOB MORE EASIER

YEAH I CAME TO KNOW THAT IT THE EASY WAY OF SORTING OUT WHILE THERE IS THE LARGE AMOUNT OF EMLOYE WHERE WORKING IN AN COMPANY