In [10]:
import pandas as pd
df = pd.read_csv(" csv file.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        20 non-null     object
 1   Age         20 non-null     int64
 2   Department  20 non-null     object
 3   Salary      20 non-null     int64
dtypes: int64(2), object(2)
memory usage: 772.0+ bytes

In [15]:
df.columns

Index(['Name', 'Age', 'Department', 'Salary'], dtype='object')

In [18]:
df['Salary'].mean()

np.float64(73950.0)

this calculate the mean average

In [19]:
df['Salary'].median()

76000.0

this shows the median value of the salary

In [21]:
df['Salary'].mode()

0    79000
Name: Salary, dtype: int64

In [ ]:
it shows the most common value

In [22]:
df['Salary'].var

114681578.94736843

In Pandas, df['Salary'].var() calculates the variance of the 'Salary' column in a DataFrame.

In [23]:
df['Salary'].std()

10708.948545369356

calculates the sample standard deviation of the 'Salary' column in your DataFrame, measuring how spread out those salary values are from their average  square rooot of the varience

1.statics the way of under standing the numbers
2.meaning of mean median and mode made me confusing
3.yes